#centering
  h1 URL shortened!

  - if(typeof inurl !== 'undefined')
    .in_text Input URL:&nbsp;
    input#in_short(type='text',name='urlin',value=inurl)

  - if(typeof outurl !== 'undefined')
    br
    .in_text Short URL:&nbsp;
    input#out_short(type='text',name='urlin',value=outurl)

  .clearfix
