h1 Enter a URL to shorten

form(method='post',action='/new')
  input(type='text',name='urlin')
  input(type='submit',name='shorten',value='shorten!')

- if(outurl)
  #out_short= outurl

- if(inurl)
  ul
-   for (var key in inurl)
    li= key: =inurl[key]
