- if(typeof message !== 'undefined')
  #alerts
    span.alert=message

form(name='short',method='post',action='/')
  #centering
    h1 Enter a URL to shorten
    .textboxwrapper
      input#urlin(type='text',name='urlin')
    .buttonwrapper
      a.ovalbutton(href="#",onclick='document.short.submit()')
        span shorten!
    .clearfix

